/Anyline Windows UWP Examples/obj
/Anyline Windows UWP Examples/bin
/.vs
/packages
Anyline Windows UWP Examples\[OLD\]/obj/
Anyline Windows UWP Examples\[OLD\]/bin/
/Anyline Windows UWP Examples/Anyline Windows UWP Examples.csproj.user
